body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#header {
  height: 76px;
  margin: 8px 0px 0px 0px;
  font-size: 32px;
  text-align: center;
  border-bottom: 1px solid#ccc;
  position: relative;
}

#palette {
  border: 2px solid black;
  width: 0px;
  height: 20px;
  margin: 8px auto;
  display: flex;
  align-items: stretch;
  visibility: hidden;
}

.palette-option {
  flex-grow: 1;
  position: relative;
}

.palette-option:after {
  position: absolute;
  content: '';
  height: 2px;
  right: 0;
  left: 0;
  top: -2px;
  background-color: #000;
}

.palette-option:hover:after, .palette-option-selected:after {
  background-color: #ff0;
}

#container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 84px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 320px;
}

#canvas {
  border: 2px solid black;
  visibility: hidden;
  touch-action: manipulation;
}
